<!-- Navigation -->
<header>
    <div class="logo">
        <a href="<%- config.root %>"><%- config.title || "" %></a>
    </div><!-- end logo -->

    <div id="menu_icon"></div>
    <nav>
        <ul>
            <% for (var i in theme.menu){ %>
            <li>
                <a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
            </li>
            <% } %>
        </ul>
    </nav><!-- end navigation menu -->

    <div class="footer clearfix">
        <ul class="social clearfix">
            <% if (theme.twitter_url) { %>
                <li><a href="<%- theme.twitter_url %>" class="twitter" target="_blank" data-title="Twitter"></a></li>
            <% } %>
            <% if (theme.facebook_url) { %>
                <li><a href="<%- theme.facebook_url %>" class="fb" target="_blank" data-title="Facebook"></a></li>
            <% } %>
            <% if (theme.behance_url) { %>
                <li><a href="<%- theme.behance_url %>" class="behance" target="_blank" data-title="Behance"></a></li>
            <% } %>
            <% if (theme.googleplus_url) { %>
                <li><a href="<%- theme.googleplus_url %>" class="google" target="_blank" data-title="Google+"></a></li>
            <% } %>
            <% if (theme.dribble_url) { %>
                <li><a href="<%- theme.dribble_url %>" class="dribble" target="_blank" data-title="Dribble"></a></li>
            <% } %>
            <% if (theme.rss_url) { %>
                <li><a href="<%- theme.rss_url %>" class="rss" target="_blank" data-title="RSS"></a></li>
            <% } %>
            <% if (theme.instagram_url) { %>
                <li><a href="<%- theme.instagram_url %>" class="instagram" target="_blank" data-title="Instagram"></a></li>
            <% } %>
            <% if (theme.youtube_url) { %>
                <li><a href="<%- theme.youtube_url %>" class="youtube" target="_blank" data-title="Youtube"></a></li>
            <% } %>
        </ul><!-- end social -->

        <div class="rights">
            <p>Copyright © 2020 winterchen.</p>
            <p>本网站由<a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral"><img src="https://raw.githubusercontent.com/WinterChenS/imgrpo/master/blog/%E5%8F%88%E6%8B%8D%E4%BA%91_logo5.png"align="absmiddle" width="59px" height="30px" /></a>
            <span>提供加速服务</span>
            <% if (theme.beian.enable){ %>
                <p><a href="<%=theme.beian.link%>"><%=theme.beian.beianInfo%></a></p>
            <%}%>
        </div><!-- end rights -->
    </div ><!-- end footer -->
</header><!-- end header -->
